.container {
    background-color: white; 
    color: black; 
    border: 2px solid black; 
}
.jsonHandler {
    padding: 2em 2em 2em 2em;
}
  
  .backgroundCheck {
    background-color: #e0f7fa; 
    padding: 2em 2em 2em 2em;
}
  
  .startOfTrial {
    background-color: #b3e5fc;
    padding: 2em 2em 2em 2em;
  }
  
  .atFollowUp {
    background-color: #81d4fa; 
    padding: 2em 2em 2em 2em;
  }
  
  .uponCompletion {
    background-color: #4fc3f7; 
    padding: 2em 2em 2em 2em;
  }
