<div class="env-modal-dialog__dialog env-modal-dialog__dialog--large">
   <section class="env-modal-dialog__content">
      <header class="env-modal-dialog__header">
         <h5 class="env-text-h5 env-modal-dialog__header__title" id="modalDialogHeader-2">
            Nytt Html-mail
         </h5>
      </header>        
      <form class="form-example">
         <label for="text-1" class="env-form-element__label">Ämne</label>
         <div class="env-form-element__control">
            <input
               type="text"
               name="headline"
               class="env-form-input"
               placeholder="Input ämne"
               id="text-1"
            />
         </div><br>
         <label for="email">Mottagare: </label>
         <input type="email" name="email" id="email" required>
         </div>  
         <footer class="env-modal-dialog__footer env-modal-dialog__footer--right"> 
            <button data-send type="submit" id="showBtn" class="env-button env-button--primary"> 
               Skicka
            </button>
         </footer>     
      </form>   
   </section>
</div>

  

